*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0;
}
body{
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	background: ghostwhite;
	color: dimgray;
}
nav{
  background-color: black;
  padding: 1rem 1.75rem;
  margin-bottom: 1.5rem;
}
#ul2{
	color: silver;
  text-align: center;
}
button{
  background-color: rgb(26, 88, 221);
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}
/*input style*/
input[type="text"]{
  display: inline-block;
  padding: 0.5rem 0.75rem;
	color: gray;
	border: 2px solid;
	width: 70%;
	background: none;
	font-family: 'Quicksand', sans-serif;
	outline: none;
	font-size: 100%;
  border-radius: 5px;
}

input[type="text"]::-webkit-input-placeholder{
	color: silver;
}

input[type="text"]::-moz-input-placeholder{
	color: silver;
}

input[type="text"]::-ms-input-placeholder{
	color: silver;
}

.delete{
	color: lightcoral;
}
#todo{
  width: 80%;
  margin: 0 auto;
}
#todo li{
  border: 1px solid grey;
  padding: 0.75rem;
  border-radius: 5px
}